<div class="panel panel-default">
  <div class="panel-heading row">
    <h3 class="panel-title col-sm-8">Contacts</h3>
    <div class="col-sm-4 text-right">
      <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
    </div>
  </div>
  <div cdkDropList #contactList="cdkDropList" class="panel-body">
    <cms-contact-item
      *ngFor="let contact of contacts"
      cdkDrag
      [contact]="contact"
      [routerLink]="[contact.id]"
    >
    </cms-contact-item>
  </div>
</div>
